body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.category-card {
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.category-card:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid #4b5fff;
}
.category-img {
  transition: transform 0.4s ease;
}
.category-card:hover .category-img {
  transform: scale(1.05);
}
.category-title {
  font-weight: 500;
}

.reason-card {
  transition: all 0.3s ease;
  background: #fff;
}
.reason-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
.icon-wrapper {
  width: 70px;
  height: 70px;
  background: #eef1ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: background 0.3s ease;
}
.reason-card:hover .icon-wrapper {
  background: #4b5fff;
}
.reason-icon {
  width: 40px;
  height: 40px;
  transition: filter 0.3s ease;
}
.reason-card:hover .reason-icon {
  filter: brightness(0) invert(1);
}


.testimonial-card {
    /* gap: 15px; */
  background-color: #fff;
  border: 1px solid #ddd;
  transition: all 0.4s ease;
  opacity: 0.7;
  transform: scale(0.95);
  /* margin: 0 3px; */
}

.active-card {
  background-color: #4783d7; 
  /* border: 2px solid #0d6efd; */
  /* box-shadow: 0 4px 15px rgba(13, 110, 253, 0.3); */
  opacity: 1;
  transform: scale(1.05);
}

.inactive-card {
  opacity: 0.7;
  transform: scale(0.95);
}


/* Teachers Section */
.teacher-card {
  transition: transform 0.3s ease;
}
.teacher-card:hover {
  transform: translateY(-5px);
}
.nav-btn {
  position: absolute;
  top: 40%;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border: none;
  width: 40px;
  height: 40px;
}
.nav-btn:hover {
  background: #4b5fff;
  color: #fff;
}
.left-btn {
  left: -20px;
}
.right-btn {
  right: -20px;
}

.footer-cta {
  background: #f1734d;
  color: #fff;
  padding: 3rem 1rem; 
  width: 80%;
  height: 40%;
  max-width: 900px; 
    margin: 3rem auto; 
}
.go-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff; 
  color: black;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.go-to-top-btn:hover {
  background-color: #f0f0f0; 
  transform: translateY(-3px);
}

